**/bin
**/target
**/generated
**/generated-sources
**/src-gen
**/xtend-gen
**/.antlr-generator-*.jar
**/.DS_Store
/.metadata/
*.xml_gen
*.project
*/.settings/
*.classpath
de.fhg.isst.dapl.types/.idea/
de.fhg.isst.dapl.types/data-app-language.iml
de.fhg.isst.degree.demo/src/main/java/de/
de.fhg.isst.dapl/lib/data-app-language.jar
de.fhg.isst.dapl/.launch/Launch Runtime Eclipse.launch
.idea/
*.iml
de.fhg.isst.oe270.degree.grammar/gen/
de.fhg.isst.oe270.degree.compiler/degreec.bat
LocMetrics.css
LocMetricsCommentWords.csv
LocMetrics.html
LocMetricsFiles.csv
LocMetricsFolders.csv
LocMetricsFunctions.csv
LocMetricsFunctions.html
LocMetricsPie.jpg
LocMetricsPie.png
de.fhg.isst.oe270.degree.compiler/context
context/trace.log
de.fhg.isst.oe270.degree.compiler/velocity.log
de.fhg.isst.oe270.degree.policies.core/context/
de.fhg.isst.oe270.degree.activities.core/context/
*.log
/de.fhg.isst.oe270.degree.core.registry/de/*
/de.fhg.isst.oe270.degree.compiler/externalCompiler.properties
*/data.csv
*/data.png
*/data.rrd